body{
    background-color: 	#EED484;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
h1{
    color: #6489a4;
}
hr{
    color: black;
}
#message{
    width: 480px;
    height: 200px;
}
a{
    text-decoration: none;
    color:#6489a4;
}
footer blockquote{
    font-weight: bold;
}
button{
    border-radius: round 3px solid black;
    background-color: #C6DEF1;
}
.container{
    padding-top: 0px;
}
i{
    color: black;
    font-size: 22px;
}
.home{
    font-size: 20px;
}
footer{
    font-weight: bold;
}
