@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
:root{
    --blue:#2980b9;
    --red:tomato;
    --orange:orange;
    --black:#333;
    --white:#fff;
    --bg-color:#eee;
    --dark-bg:rgba(0,0,0,.7);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
   --border:.1rem solid #999;
}
*{
    font-family:'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
.header{
    background-color: var(--blue);
    position: sticky;
    top: 0; 
    left: 0;
    z-index: 1000;
}
.header .flex{
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}
.header .flex .logo{
    margin-right: auto;
    font-size: 2.5rem;
    color: var(--white);
}
.header .flex .navbar a{
    margin-left: 2rem;
    font-size: 1.5rem;
    color: var(--white);
}
.header .flex .navbar a:hover{
    color:blue;
}
.header .flex .cart{
    margin-left: 2rem;
    font-size: 1.5rem;
    color: var(--white);
}
.header .flex .cart:hover{
    color:blue;
}
.header .flex .cart span{
    padding: .1rem .5rem;
    border-radius: .5rem;
    background-color: var(--white);
    color: var(--blue);
    font-size: 2rem;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
section{
    padding: 2rem;
}
.shopping-cart table{
    text-align: center;
    width: 100%;
}
.shopping-cart table thead th{
    padding: 1.5rem;
    font-size: 2rem;
    color: var(--white);
    background-color: var(--black);
}
.shopping-cart table td tr{
    border-bottom: var(--border);
    padding: 1.5rem;
    font-size: 2rem;
    color: var(--black);
}
.shopping-cart table input[type="text"]{
    border: var(--border);
    padding: 1rem 2rem;
    font-size: 2rem;
    color: var(--black);
    width: 10rem;
}
.shopping-cart table input[type="submit"]{
    padding: .5rem 1.5rem;
    cursor: pointer;
    font-size: 2rem;
    background-color: var(--orange);
    color: var(--white);
}
.shopping-cart table input[type="submit"]:hover{
    background-color:var(--black);
}
@media(max-width:1200px){
    .shopping-cart{
        overflow-x: scroll;
    }
    .shopping-cart table{
        width: 120rem;
    }
    .shopping-cart .heading{
        text-align: left;
    }
}
@media (max-width:768px){
    #menu-btn{
        display: inline-block;
        transition: .2s linear;
    }
    #menu-btn.fa-times{
        transform: rotate(180deg);
    }
    .header .flex .navbar{
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background-color: var(--blue);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .2s linear;
    }
    .header .flex .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .header .flex .navbar a{
        margin: 2rem;
        display: block;
        text-align: center;
        font-size: 2.5rem;
    }
}
@media (max-width:991px){
    html{
        font-size: 55%;
    }
}